<div class="login-container">
  <mat-card>
    <mat-card-title>Login To Zokya Media</mat-card-title>
    <mat-list>
      <mat-list-item>
        <button mat-raised-button (click)="loginGoogle()"> <img src="./assets/social-media/google.svg"> | Sign in with Google</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button (click)="loginTwitter()"><img src="./assets/social-media/twitter.svg"> | Sign in with Twitter</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button (click)="loginTwitch()"><img src="./assets/social-media/twitch.png"> | Sign in with Twitch</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
